body {
  background-image: url("../assets/images/thoughts/jeu.jpg");
  background-size: cover; }

#header {
  margin-top: 100px; }

#boutons {
  margin-top: 200px; }

h1 {
  text-align: center;
  color: yellow;
  margin-top: 30px; }

#baby {
  margin-top: 150px; }

#lancementjeu {
  line-height: 50px;
  text-align: center;
  border-radius: 1rem;
  background-color: #182C61;
  color: white;
  text-decoration: none;
  margin-top: 110px;
  margin-left: -1px;
  font-size: 2em; }

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 8px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none; }

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31; }

.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358; }

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid; }

#gameover img {
  height: auto;
  width: 200px;
  margin: 100px; }

img {
  height: 130px; }

.percent-count {
  width: 450px;
  height: 50px;
  margin: 100px auto;
  font-size: 50px;
  text-align: center;
  color: #FFF; }

.progress-bar {
  width: 506px;
  height: 26px;
  background-color: #bbb;
  border-radius: 13px;
  margin-bottom: 50px;
  padding: 3px; }

.progress {
  width: 25px;
  height: 20px;
  border-radius: 10px;
  background-color: dodgerblue; }

@media screen and (max-width: 640px) {
  #photos {
    margin-top: 60px; } }

/*# sourceMappingURL=styles.css.map */
